/* ------------------------- */
/* Swiper CSS */
/* ------------------------- */
/* <!-- Demo styles --> */
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

/* ------------------formateo de select------------------ */

/* The container must be positioned relative: */

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: red;
}

/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

html {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: grey;
    width: 100%;
    max-width: 480px;
}

main {
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* ---------------------------------------- */
/* navegacion */
/* ---------------------------------------- */

nav {
    height: 72px;
    position: fixed;
    z-index: 1000;    
    text-align: right;
}

/* Style the menu link */
.js .nav .skip {
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
    text-align: right;
    line-height: 2.5em;
}

.btn-bg{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 4.5em;
    height: 4.5em;
    z-index: 1000;
    border-radius: 50%;
}

#btn-closed {    
    background-image: url(imagenes/menuicon.png);
    background-repeat: none;
    background-position: 0px 0px;
    background-size: cover;
}

#btn-open {
    z-index: 100;
    background-image: url(imagenes/menuicon.png);
    background-repeat: none;
    background-position: 40px 0px;
    background-size: cover;
}

.menu-container {
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    visibility: visible;
}

.menu-hidden {
    height: 100vh;
    width: 100vw;
    right: 0px;
    top: 0px;
    visibility: hidden;
}

/* Give the .nav ul a height when it's been opened, i.e. make it show */
.js .nav ul.open {
    max-height: 100vh;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: -3.5em;
    margin-right: -1em;
    padding-top: 5em;
    padding-right: 3.5em;

}

/* Hide and position the closed .nav ul */
.js .nav ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 1em;
    top: 3.5em;
}

/* Style the list items to appear under the menu link */
.js nav li {
    text-align: right;
}

/* Style the list item links for ease of touch on small screens */
.js nav li a {
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
    padding: 1em;
    display: block;
}

/* ------------------------------------------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------------------------------------------- */

footer {
    width: 100%;
    background-color: rgb(42, 49, 56);
    padding: 40px 40px;
    box-sizing: border-box;
}

footer .col {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
    /* background-color: rgb(0, 235, 252); */
}

footer .logo picture, footer .logo .copyright {
    margin-bottom: 0.5em;
    font-size: 0.5em;
    color: white;
    display: block;

}

footer .collogo {
    box-sizing: border-box;
    text-align: center;
}

footer ul {
    display: block;
    width: 100%;
    /* background-color: tomato; */
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: 14px;
    width: auto;
}

footer ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    width: auto;
}

#redes {
    list-style: none;
    display: inline-block;
    text-align: center;
}

#redes li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    transform: scale(0.5);
}

#redes li a {
    display: inline-block;
    text-decoration: none;
    background-image: url(imagenes/socialsprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    opacity: 1;
    margin: -10px;
    padding: 0px;
    width: 85.5px;
    height: 85.5px;
}

#redes li a span {
    display: none;
}

#redes a:hover {
    border: none;
}

#redes #fb a {
    background-position: 0px 0px;
}

#redes #fb a:hover {
    background-position: 0 -85.5px;
}

#redes #ig a {
    background-position: -85.5px 0px;
}

#redes #ig a:hover {
    background-position: -85px -85px;
}

#redes #pt a {
    background-position: -170px 0px;
}

#redes #pt a:hover {
    background-position: -170px -85.5px;
}

footer .logo {
    width: 100%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

ul.datos-davinci li {
    font-size: 5px;
    font-weight: lighter;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

/* --------------------------------------- */
/* secciones */
/* --------------------------------------- */

.black-overlay {
    position: absolute;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.seccion {
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    height: 70vh;

}

/* --------------------------------------- */
/* Inicio */
/* --------------------------------------- */

.index header {
    background-image: url(imagenes/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

main.index .seccion2 {
    background-image: url(imagenes/explorabg.jpg);
}

main.index .seccion3 {
    background-image: url(imagenes/saboreabg.jpg);
}

main.index .seccion4 {
    background-image: url(imagenes/disfrutabg.jpg);
}

main.index .seccion5 {
    background-image: url(imagenes/descubribg.jpg);
}

h1 {
    padding-top: 20vh;
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
}

main.index h2 {
    padding-top: 20vh;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
}

main.index h3 {
    text-align: left;
    font-weight: 300;
    font-size: 1em;
    padding: 20px 60px;
    color: whitesmoke;
}

main.index h4 {
    font-weight: 800;
    font-size: 1em;
    width: 30%;
    text-align: left;
    margin-left: 10px;
    color: whitesmoke;
}

main.novedades abbr {
    display: inline;
    font-style: italic;
    font-family: 'montserrat';
    font-weight: bolder;
    text-decoration: none;
    color: cadetblue;
}

main strong {
    color: rgb(44, 44, 44);
    /* background-color: rgba(255, 166, 0, 0.664); */
    line-height: 10px;
}



/* ------------------------------------------------------ */
/* CSS DESTINOS.HTML */
/* ------------------------------------------------------ */
.destinos header {
    background-image: url(imagenes/herodestinos.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.destinos .seccion3 {
    background-color: tomato;
    text-align: left;
}

.seccion3 iframe{
    border: none;
    padding: 0px;
    margin: -10px;
    display: inline-block;
}

.destinos .seccion4 {
    background: #47bbea;
}



/* ----------------------------------------------- */
/* CSS novedades */
/* ----------------------------------------------- */

.novedades header {
    background-image: url(imagenes/novedades.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.novedades .seccion {
    background-image: none;
    background-color: whitesmoke;
    color: #434343;
}

div .slide {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box {
    display: block;
    height: auto;
    width: 500px;
    margin: 100px 20px 100px 20px;
    /* margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px; */
    background: #f5f5f5;
    box-shadow: -6px 6px 12px #626262, 6px -6px 12px #ffffff;
    transition: ease-in-out 0.2s all;
    text-align: right;
    z-index: 1;
}

.info-box:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s all;
    box-shadow: -20px 20px 60px #acacac;
    z-index: 2;
}

.info-box h3 {
    margin: 0px;
    box-sizing: border-box;
    text-align: left;
    height: 250px;
    background-color: #3d5071;
    width: 500px;
    padding: 20px;
    font-weight: 600;
    font-size: 40px;
    color: whitesmoke;
}

.info-box:hover h3 {
    background-color: #5dc5c4;
    transition: ease-in-out 0.2s all;
}

.info-box p {
    font-weight: 400;
    font-size: 25px;
    margin: 0px;
    width: auto;
    height: 500px;
    text-align: left;
    padding: 20px 20px;
    color: #434343;
}

.seccion3 {
    background-image: none;
    background-color: whitesmoke;
    text-align: right;
}

.seccion3 .info-box {
    position: absolute;
    display: inline-block;
    left: -400px;
    z-index: 10;
}

.seccion3 .info-box p {
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 0px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 40px;
}

.seccion3 .videocontainer {
    position: relative;
    display: inline-block;
    width: 1900px;
    height: 800px;
    z-index: 1;
    margin-left: 500px;
}

.videocontainer iframe {
    margin: 0px;
    height: 800px;
    width: 1300px;
}

.seccion4 {
    background-image: none;
    background-color: whitesmoke;
    text-align: right;
}

.seccion4 .seccion4container {
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-left: 100px;
}

.seccion4 .seccion4container .info-box {
    position: absolute;
    right: -300px;
    z-index: 10;
    margin: 100px 20px 100px 20px;
}

.seccion4 .seccion4container .info-box p {
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 0px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 40px;
}


.seccion4 .seccion4container img {
    display: block;
    margin: 0px;
    height: 800px;
    width: 1300px;
}

img[alt="fachada de Castillo Hotel"] {
    box-shadow: -10px 10px 20px #626262;
    border-radius: 9px;
}

.novedades .seccion3 {
    display: flex;
    align-items: center;
}

.novedades .seccion4 {
    display: flex;
    align-items: center;
}

.novedades .seccion5 {
    background-image: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    text-align: center;
}

/* seccion de galeria novedades */



div .container1,
.container2,
.container3,
.container4 {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 600px;
    height: 350px;
    margin-left: 30px;
    margin-right: 30px;
}

.container1,
.container2 {
    margin-top: 100px;
    margin-bottom: 65px;
}

.container3,
.container4 {
    margin-bottom: 100px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    background: linear-gradient(225deg, #dddddd, #ffffff);
    box-shadow: -10px 10px 20px #626262, 10px -10px 20px #ffffff;
    background-size: cover;
}

.centered h3 {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 20px 20px 0px 20px;
    color: #434343;
    /* background-color:red; */
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    display: inline-block;
}

.centered p {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 20px;
    color: #434343;
    /* background-color:yellow; */
    font-weight: 200;
    font-size: 25px;
    line-height: 27px;
    text-align: left;
}

.text-container .centered {
    opacity: 0;
    transition: ease-in-out 0.5s all;
}

.text-container:hover .centered {
    opacity: 1;
    transition: ease-in-out 0.5s all;
}

div .text-container img {
    box-shadow: -10px 10px 20px #626262;
    border-radius: 9px;
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 0.5s all;
    width: 600px;
    height: 350px;
}

.text-container img {
    opacity: 0.5;
    transition: ease-in-out 0.5s all;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* CONTACTO.html*/
/* -------------------------------------------------------------------------------------------------------------- */

.contacto .seccion2 {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background: #eceffc;
}

.form-title {
    display: inline-block;
    width: auto;
    margin-top: -35px;
    font-size: 150px;
    color: rgb(42, 49, 56);
    transform: rotate(90deg);
    z-index: 100;
    /* border: 1px solid red; */

}

/* --------------------------- CSS Form -----------------------------------------*/

main.contacto {
    position: relative;
}

main.contacto header {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    background: none;
    width: 500px;
    text-align: center;
    /* border: 1px solid red; */
}

.form {
    background-color: rgb(42, 49, 56);
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    /* border: turquoise 1px solid; */

}

form>div h2 {
    display: inline-block;
    color: whitesmoke;
    width: 250px;
    height: 100%;
    margin: 0px;
    font-size: 40px;
    /* border: aqua 1px solid; */
}

.form-container {
    top: 0px;
    display: inline-block;
    height: 70%;
    width: 350px;
    /* border: turquoise 1px solid; */
    margin: 0px;
    padding: 0px;
}


.input-css {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.input-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

/* ---------------------radio CSS ----------------------------------------*/

.check-container {
    text-align: center;
    margin: 10px 0px 10px 0px;
}

input[type="checkbox"] {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px 0px;
}

input[type="checkbox"]:checked {
    height: 30px;
    width: 30px;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
}

.check-text {
    display: inline-block;
    margin: 0px 0px 0px 5px;
}

form span a {
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    color: tomato;
}

form label {
    font-size: 15px;
    color: rgb(190, 190, 190);
    margin: 5px 0px 5px 0px;
}

form .btn-container {
    text-align: right;
}

.form-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    /* padding: .6em 1.4em .5em .8em; */
    width: 50%;
    /* height: 45px; */
    /* max-width: 100%; */
    box-sizing: border-box;
    margin: 30px 0px 0px 0px;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(59, 153, 252, .7);
}

/* -----------------------select CSS -------------------------------------*/

.select-css {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css[selected] {
    color: rgb(133, 28, 28);
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

.select-css:not(selected) {
    color: rgb(87, 87, 87);
}

.select-css:focus {
    color: rgb(87, 87, 87);
}

/* asdasdasdasdasdasdasd */