#fp-nav ul li a span {
    background-color: rgb(255, 174, 0);
}

#fp-nav ul li a span:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 174, 0);
    border-radius: 100%;
}

#fp-nav ul li .fp-tooltip {
    color: rgb(255, 174, 0);
    font-size: 15px;
}

.fp-controlArrow.fp-prev {
    margin-left: 40px;
    left: 45px;
    background: #f6f6f6;
    background-image: url(imagenes/back-arrow.svg);
}

.fp-controlArrow.fp-next {
    margin-right: 40px;
    right: 45px;
    background: #f6f6f6;
    background-image: url(imagenes/forward-arrow.svg);
}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
    width: 50px;
    height: 50px;
    border-width: 0px;
    border-radius: 9px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -5px 5px 10px #626262, 5px -5px 10px #ffffff;
}

.fp-controlArrow.fp-prev:hover, .fp-controlArrow.fp-next:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s all;
    background: linear-gradient(225deg, #dddddd, #ffffff);
    box-shadow: -5px 5px 10px #626262, 5px -5px 10px #ffffff;
}

.fp-controlArrow.fp-prev:hover {
    background-image: url(imagenes/back-arrow.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.fp-controlArrow.fp-next:hover {
    background-image: url(imagenes/forward-arrow.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------------formateo de select------------------ */

/* The container must be positioned relative: */

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: red;
}

/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */

.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    /* At the time of writing this, 
    the scroll-behavior property works
     in Chrome and Firefox, but not in Edge, 
     IE, or Safari (desktop or mobile).  */
}

html {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: grey;
    width: 100%;
    max-width: 1920px;
}

main {
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav {
    height: 62px;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0px;
    text-align: center;
    z-index: 25;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    opacity: 0;
}

#menucentro {
    margin: 0px;
    padding: 0px;
    background-image: url(imagenes/logo.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 0px;
}

#menucentro:hover {
    margin-bottom: -6px;
    border-bottom: 6px solid rgb(255, 174, 0);
}

#logonav {
    position: fixed;
    width: 62px;
    margin: 0px;
    padding: 0px;
}

.menu {
    background-image: url(imagenes/logo.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 0px;
}

.animate {
    display: flex;
    visibility: hidden;
    opacity: 0;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu:hover .animate {
    visibility: visible;
    opacity: 1;
}

nav li {
    display: inline-block;
    height: 62px;
}

nav li a {
    position: relative;
    color: whitesmoke;
    top: 0px;
    display: inline-block;
    width: 150px;
    height: 62px;
    line-height: 62px;
    text-decoration: none;
}

nav li a:hover, footer li a:hover {
    border-bottom: 6px solid rgb(255, 174, 0);
}

nav li a:active {
    border-bottom: 6px solid tomato;
}

.seccion {
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    left: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/hero.jpg);
    background-size: cover;
}

.index .seccion {
    padding-top: 100px;
    box-sizing: border-box;
}

main.index .seccion2 {
    background-image: url(imagenes/explorabg.jpg);
}

main.index .seccion3 {
    background-image: url(imagenes/saboreabg.jpg);
}

main.index .seccion4 {
    background-image: url(imagenes/disfrutabg.jpg);
}

main.index .seccion5 {
    background-image: url(imagenes/descubribg.jpg);
}

h1 {
    font-size: 12em;
    height: 350px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    position: fixed;
    top: 35vh;
}

main.index h2 {
    font-size: 9em;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    color: whitesmoke;
    top: 35vh;
}
.seccion3 h2 {
    font-size: 9em;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    color: whitesmoke;
    top: 35vh;
}

.seccion3 h2 > p{
    color:  whitesmoke;
}

main.index h3 {
    font-weight: 300;
    font-size: 2em;
    width: 30%;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    color: whitesmoke;
}
main.index h4 {
    font-weight: 800;
    font-size: 1em;
    width: 30%;
    text-align: left;
    margin-left: 10px;
    color: whitesmoke;
}

main.index h6 {
    font-weight: 600;
    font-size: 0.5em;
    text-align: left;
    color: whitesmoke;
    text-align: center;
}

main.novedades abbr {
    display: inline;
    font-style: italic;
    font-family: 'montserrat';
    font-weight: bolder;
    text-decoration: none;
    color: cadetblue;
}
main  strong{
    color: rgb(44, 44, 44);
    /* background-color: rgba(255, 166, 0, 0.664); */
    line-height: 10px;
}





@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(15px);
        transform-origin: center;
    }
}

.btn {
    z-index: 200;
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 20px;
    color: whitesmoke;
    text-align: center;
    background-image: url(imagenes/dwnarrowsmall.svg);
    background-position: center;
    background-repeat: no-repeat;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.link {
    text-decoration: none;
}

.text-button {
    position: absolute;
    left: 50%;
    bottom: -100px;
    background-color: tomato;
    bottom: 0px;
    width: 50px;
    height: 200px;
    transform: rotateX(90);
    z-index: 14;
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------------------------------------------- */

footer {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: rgb(42, 49, 56);
    padding: 80px 120px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

footer .col {
    box-sizing: border-box;
    height: 100%;
    width: 15%;
    margin: 0px 10px 0px;
    /* background-color: rgb(0, 235, 252); */
}

.copyright{
    font-size: 12px;
    font-weight: bold;
    color: white;
}

footer .collogo {
    box-sizing: border-box;
    height: 100%;
    width: 15%;
    padding: 0px 10px 0px;
    /* background-color: lavenderblush; */
    text-align: center;
    position: relative;
}

footer ul {
    display: block;
    width: 100%;
    /* background-color: tomato; */
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
    color: whitesmoke;
    width: auto;
}

footer ul li a {
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
    font-size: 1em;
    width: auto;
}

#redes {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
}

#redes li {
    display: inline-block;
}

#redes li a {
    display: inline-block;
    text-decoration: none;
    background-image: url(imagenes/socialsprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    opacity: 1;
    width: 85.5px;
    height: 85.5px;
    margin: 0px 20px 20px 0px;
}

#redes li a span{
    display: none;
}

#redes a:hover {
    border: none;
}

#redes #fb a {
    background-position: 0px 0px;
}

#redes #fb a:hover {
    background-position: 0 -85.5px;
}

#redes #ig a {
    background-position: -85.5px 0px;
}

#redes #ig a:hover {
    background-position: -85px -85px;
}

#redes #pt a {
    background-position: -170px 0px;
}

#redes #pt a:hover {
    background-position: -170px -85.5px;
}

footer .logo {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

/* ------------------------------------------------------ */

/* CSS DESTINOS.HTML */

/* ------------------------------------------------------ */
.destinos .seccion2 h2 {
    padding: 0px;
    margin-top: 50px;
    font-size: 50px;
}

li > a > h5{
    font-size: 30px;
}

.text-container > p {
    font-size: 18px;
}
.seccion2 > article {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.seccion2 .text-container {
    position: absolute;
    box-sizing: border-box;
    background-color: tomato;
    width: 350px;
    height: 100%;
    padding: 50px 20px 0px;
    left: 420px;
    z-index: 200;
}

.seccion2 > article {
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: 500px;
    background-color: whitesmoke;
    margin: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

article > iframe {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%;
    border: solid 1px rgb(255, 0, 200);
}

.text-container h3 {
    margin: 0px 0px 20px 0px;
    width: 100%;
    font-size: 60px;
    line-height: 62px;
}

/* .text-container p {
    font-size: 25px;
    line-height: 27px;
    width: 100%;
} */

.destinos .seccion2 {
    background-color: whitesmoke;
    background-image: url(imagenes/explorabg.jpg);
}

#vallehermoso:target {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    z-index: 100;
}

#castillohotel:target {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    z-index: 100;
}

#diquecito:target {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    z-index: 100;
}

#cascada:target {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    z-index: 100;
}

#zevallos:target {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    z-index: 100;
}



.seccion2 > .text-container-small {
    position: absolute;
    width: 420px;
    background-color: black;
    /* padding-top: 150px; */
    z-index: 2000;
    height: 100%;
}
div.text-container-small > ul {
    width: 350px;
    padding: 0px;
    margin: 0px;
    height: auto;
    margin-left: 50px;
}

.text-container-small > p {
    margin-left: 50px;
    color: whitesmoke;
    width: 350px;
    text-align: right;
    margin-right: 20px;
    font-size: 25px;
}

.text-container-small > h2 {
    margin: 0px;
    color: whitesmoke;
    width: 350px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 20px;
    font-size: 70px;
}

.text-container-small > ul {
    margin-left: 250px;
    list-style: none;
    margin-top: 20px;
    width: 200px;    
    text-align: right;
}

.text-container-small ul li {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
    color: red;
    text-align: right;
}

.text-container-small ul li a {
    text-decoration: none;
    color: whitesmoke;
}

div.text-container-small h5:hover{
    border-bottom: 6px solid rgb(255, 174, 0);
}

.destinos header {
    background-image: url(imagenes/herodestinos.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.destinos .seccion3 {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destinos .seccion4 {
    background-image: none;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.destinos .seccion3 {
    background-color: tomato;
}

.destinos .seccion4 {
    background-color: whitesmoke;
}

.destinos .seccion3 div {
    width: 50%;
}

.destinos .seccion3 h2, .destinos .seccion3 h3 {
    text-align: right;
    margin-right: 50px;
}

.destinos .seccion3 h3 {
    width: 50%;
    right: 0px;
    margin-left: 45%;
    margin-right: 50px;
    display: inline-block;
}

.destinos-videocontainer {
    position: relative;
    display: inline-block;
    margin-right: 100px;
    width: 800px;
    height: 800px;
    /* border: red solid 1px; */
    z-index: 1;
    text-align: right;
    /* margin-top: -500px; */
    /* margin-left: 500px; */
}

.destinos-videocontainer iframe {
    margin: 0px;
    height: 800px;
    width: 800px;
    border: 0px;
}

.black-overlay {
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 166, 0, 0.4);
}

.videocontainer {
    position: relative;
    width: 886px;
    height: 500px;
    border: 0px;
    margin: 0px;
}

.videocontainer iframe {
    position: absolute;
    left: 0;
    margin-right: 100px;
    border: 0px;
    width: 886px;
    height: 500px;
}

.rectangulo {
    height: 350px;
    width: 100%;
    background: #47bbea;
    z-index: 1;
    text-align: right;
    box-shadow: -20px 20px 60px #3c9fc7, 20px -20px 60px #52d7ff;
}

.destinos .seccion4 {
    background: #47bbea;
}

.rectangulo .text-container {
    display: inline-block;
    height: 400px;
    width: 550px;
    background-color: #47bbea;
    z-index: 2;
    margin-top: -25px;
    /* margin-left: 200px; */
    margin-right: 200px;
    box-shadow: -20px 20px 60px #3c9fc7, 20px -20px 60px #52d7ff;
}

.rectangulo .text-container h3, .rectangulo .text-container p {
    color: whitesmoke;
    margin-left: 50px;
    margin-top: 25px;
    width: 400px;
    text-align: left;
}

.rectangulo h3 {
    font-size: 45px;
    font-weight: 800;
}

.rectangulo p {
    font-size: 25px;
}

.rectangulo a {
    display: inline-block;
    margin-top: 100px;
    margin-right: 200px;
    text-decoration: none;
    height: 90px;
    width: 300px;
    background-color: wheat;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: -20px 20px 60px #3c9fc7, 20px -20px 60px #52d7ff;
}

#playstore {
    background-image: url(imagenes/google.png);
}

#appstore {
    background-image: url(imagenes/appstore.png);
}

/* destinos footer */

#redes li {
    width: auto;
}

/* CSS novedades */
.novedades header{
    background-image: url(imagenes/novedades.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.novedades .seccion {
    background-image: none;
    background-color: whitesmoke;
    color: #434343;
}

div .slide {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box {
    display: block;
    height: auto;
    width: 500px;
    margin: 100px 20px 100px 20px;
    /* margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px; */
    background: #f5f5f5;
    box-shadow: -6px 6px 12px #626262, 6px -6px 12px #ffffff;
    transition: ease-in-out 0.2s all;
    text-align: right;
    z-index: 1;
}

.info-box:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s all;
    box-shadow: -20px 20px 60px #acacac;
    z-index: 2;
}

.info-box h3 {
    margin: 0px;
    box-sizing: border-box;
    text-align: left;
    height: 250px;
    background-color: #3d5071;
    width: 500px;
    padding: 20px;
    font-weight: 600;
    font-size: 40px;
}

.info-box:hover h3 {
    background-color: #5dc5c4;
    transition: ease-in-out 0.2s all;
}

.info-box p {
    font-weight: 400;
    font-size: 30px;
    margin: 0px;
    width: auto;
    height: 500px;
    text-align: left;
    padding: 20px 20px;
    color: #434343;
}

.seccion3 {
    background-image: none;
    background-color: whitesmoke;
    text-align: right;
}

.seccion3 .info-box {
    position: absolute;
    display: inline-block;
    left: -400px;
    z-index: 10;
}

.seccion3  .info-box p{
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 0px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 40px;
}

.seccion3 .videocontainer {
    position: relative;
    display: inline-block;
    width: 1900px;
    height: 800px;
    z-index: 1;
    margin-left: 500px;
}

.videocontainer iframe {
    margin: 0px;
    height: 800px;
    width: 1300px;
}

.seccion4 {
    background-image: none;
    background-color: whitesmoke;
    text-align: right;
}

.seccion4 .seccion4container {
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-left: 100px;
}

.seccion4 .seccion4container .info-box {
    position: absolute;
    right: -300px;
    z-index: 10;
    margin: 100px 20px 100px 20px;
}
.seccion4 .seccion4container .info-box p{
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 0px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 40px;
}


.seccion4 .seccion4container img {
    display: block;
    margin: 0px;
    height: 800px;
    width: 1300px;
}

img[alt="fachada de Castillo Hotel"] {
    box-shadow: -10px 10px 20px #626262;
    border-radius: 9px;
}
.novedades .seccion3 {
    display: flex;
    align-items: center;
}

.novedades .seccion4 {
    display: flex;
    align-items: center;
}
.novedades .seccion5 {
    background-image: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    text-align: center;
}

/* seccion de galeria novedades */



div .container1, .container2, .container3, .container4 {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 600px;
    height: 350px;
    margin-left: 30px;
    margin-right: 30px;
}

.container1, .container2 {
    margin-top: 100px;
    margin-bottom: 65px;
}

.container3, .container4 {
    margin-bottom: 100px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    background: linear-gradient(225deg, #dddddd, #ffffff);
    box-shadow: -10px 10px 20px #626262, 10px -10px 20px #ffffff;
    background-size: cover;
}

.centered h3 {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 20px 20px 0px 20px;
    color: #434343;
    /* background-color:red; */
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    display: inline-block;
}

.centered p {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 20px;
    color: #434343;
    /* background-color:yellow; */
    font-weight: 200;
    font-size: 25px;
    line-height: 27px;
    text-align: left;
}

.text-container .centered {
    opacity: 0;
    transition: ease-in-out 0.5s all;
}

.text-container:hover .centered {
    opacity: 1;
    transition: ease-in-out 0.5s all;
}

div .text-container img {
    box-shadow: -10px 10px 20px #626262;
    border-radius: 9px;
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 0.5s all;
    width: 600px;
    height: 350px;
}

.text-container img {
    opacity: 0.5;
    transition: ease-in-out 0.5s all;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* CONTACTO.html*/
/* -------------------------------------------------------------------------------------------------------------- */

.contacto .seccion2 {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background: #eceffc;
}

.form-title {
    display: inline-block;
    width: auto;
    margin-top: -35px;
    font-size: 150px;   
    color: rgb(42, 49, 56);
    transform: rotate(90deg);
    z-index: 100;   
    /* border: 1px solid red; */

}

/* --------------------------- CSS Form -----------------------------------------*/

main.contacto{
    position: relative;
}

main.contacto header{
    position: fixed;    
    display: flex;    
    align-items: center;
    z-index: 100;
    background: none;
    width: 500px;
    text-align: center;
    /* border: 1px solid red; */
}

.form {
    background-color: rgb(42, 49, 56);
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    /* border: turquoise 1px solid; */

}

form > div   h2 {
    display: inline-block;
    color: whitesmoke;
    width: 250px;
    height: 100%;
    margin: 0px;
    font-size: 40px;
    /* border: aqua 1px solid; */
}

.form-container{
    top: 0px;
    display: inline-block;
    height: 70%;
    width: 350px;
    /* border: turquoise 1px solid; */
    margin: 0px;
    padding: 0px;
}


.input-css {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.input-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

/* ---------------------radio CSS ----------------------------------------*/

.check-container {
    text-align: center;
    margin: 10px 0px 10px 0px;
}

input[type="checkbox"] {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px 0px;
}

input[type="checkbox"]:checked {
    height: 30px;
    width: 30px;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
}

.check-text {
    display: inline-block;
    margin: 0px 0px 0px 5px;
}

form span a {
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    color: tomato;
}

form label {
    font-size: 15px;
    color: rgb(190, 190, 190);
    margin: 5px 0px 5px 0px;
}

form .btn-container{
    text-align: right;
}
.form-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    /* padding: .6em 1.4em .5em .8em; */
    width: 50%;
    /* height: 45px; */
    /* max-width: 100%; */
    box-sizing: border-box;
    margin: 30px 0px 0px 0px;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(59, 153, 252, .7);
}

/* -----------------------select CSS -------------------------------------*/

.select-css {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css[selected] {
    color: rgb(133, 28, 28);
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

.select-css:not(selected) {
    color: rgb(87, 87, 87);
}

.select-css:focus {
    color: rgb(87, 87, 87);
}

/* asdasdasdasdasdasdasd */