* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
main{
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
nav{
    height: 100px;
    position: fixed;
    top: 0px;
    display: hidden;
}
header{
    position: relative;
    left: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background: url(/imagenes/hero.jpg);
    background-size: cover;
    background-position: 0px -390px;
}
.mask{
    position: absolute;
    height: 100vh;
    width: 100%;
    bottom: 42vh;
    /* background-color: teal; */
    mask: url(/imagenes/Heromask1.png);
    -webkit-mask: url(/imagenes/Heromask1.png);
    mask-size: cover;
    -webkit-mask-size: cover;
}

.seccion2{
    height: 100vh;
    background-color: khaki;
    z-index: 2;    
}
h1{
    font-size: 12em;
    height: 350px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    position: fixed;
    top: 35vh;
    

}
ul{
    list-style: none;
}
.text-button{
    position: absolute;
    left: 50%;
    bottom: -100px;
    background-color: tomato;
    border: turquoise solid 1px;
    bottom: 0px;
    width: 50px;
    height: 200px;
    transform: rotateX(90);
    z-index: 14;
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
}
li{
    color: tomato;
}
/* body {
	overflow: hidden;
	margin: 0;
	font-family: "Limelight", sans-serif;
	text-rendering: optimizeLegibility;
}

.well {
	position: relative;
	overflow: hidden;
	transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.top {
	font-size: 80%;
	color: hsla(0, 0%, 100%, .25);
	position: relative;
	top: -.2em;
	cursor: pointer;
}

.panel {
	position: relative;
	height: 100vh;
	overflow: hidden;
	font-size: 10vmin;
	padding: 1em;
	box-sizing: border-box;
	color: hsla(0, 0%, 100%, .1);
	cursor: default;
}

.panel:nth-child(1) {
	background: #012345;
}
.red{
	color: red;
}
.panel:nth-child(2) {
	background: #123456;
}

.panel:nth-child(3) {
	background: #234567;
}

.panel:nth-child(4) {
	background: #345678;
}

.panel:nth-child(5) {
	background: #456789;
} */
